<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Demo
    link(rel="stylesheet", href="./index.styl")
  body
    img(z-src-mb="http://qiniu.daguchuangyi.com/2_2%402x%20.png" z-src-pc="http://qiniu.daguchuangyi.com/3_1%402x.png")
    .bg(z-bg z-src-mb="http://qiniu.daguchuangyi.com/2_2%402x%20.png" z-src-pc="http://qiniu.daguchuangyi.com/3_1%402x.png")
    a(z-dst-name="href" z-load-early z-src-mb="http://qiniu.daguchuangyi.com/2_2%402x%20.png" z-src-pc="http://qiniu.daguchuangyi.com/3_1%402x.png")
    script(src="./index.js")