<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Demo
    link(rel="stylesheet", href="./index.styl")
  body
    section.lazy-load
      h3 Lazy load
      p
        img(z-src-mb="http://qiniu.daguchuangyi.com/2_2%402x%20.png" z-src-pc="http://qiniu.daguchuangyi.com/3_1%402x.png")
      p.bg(z-bg z-src="http://qiniu.daguchuangyi.com/2_2%402x%20.png" z-src-pc="http://qiniu.daguchuangyi.com/3_1%402x.png")
      p
        a(z-dst="href" z-early z-src-mb="http://qiniu.daguchuangyi.com/2_2%402x%20.png" z-src-pc="http://qiniu.daguchuangyi.com/3_1%402x.png") link
      p(
        id="lz-event"
        z-event
        z-loaded-class="lazy-loaded"
        z-bg
        z-src-mb="http://qiniu.daguchuangyi.com/2_2%402x%20.png"
        z-src-pc="http://qiniu.daguchuangyi.com/3_1%402x.png"
        )
    script(src="./index.js")